<!-- URL: https://www.gowashmycar.com/ -->
<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Car Wash | MyOnlineCarWash.com</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (min-width:300px) and (max-width:1468px)" href="/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&amp;family=Bitter&amp;family=Bree+Serif&amp;family=Dongle:wght@300&amp;family=Mochiy+Pop+P+One&amp;family=Montserrat:ital,wght@1,500&amp;family=Poppins:ital,wght@1,500&amp;family=Sriracha&amp;display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar-->
    <header>
        <nav id="nav-top">
            <p>COVID-19: All operators wear masks, gloves and ensure contact-free key handovers</p>
        </nav>
        <nav id="nav-bottom"><img src="../static/image/GoWashMyCar (logo).png" alt="MyCarWash.com">
            <ul>
                <li class="item"><a href="#home">Home</a></li>
                <li class="item"><a href="#services">Services</a></li>
                <li class="item"><a href="#about-us">About Us</a></li>
                <li class="item"><a href="#book-online">Book Now</a></li>
                <li class="item"><a href="#contact-us">Contact Us</a></li>
            </ul>
            <div id="social">
                <a href="http://twitter.com" target="_blank"><img src="../static/image/icons/twitter icon-2.png" alt=""></a>
                <a href="http://instagram.com" target="_blank"><img src="../static/image/icons/insta logo.png" alt=""></a>
                <a href="http://facebook.com" target="_blank"><img src="../static/image/icons/fb icon.png" alt=""></a>
            </div>
        </nav>
    </header>
    <!-- Home Section-->
    <section class="main" id="home">
        <h1>Welcome To MyOnlineCarWash</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum minima voluptatibus dolor quae facilis animi..</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores natus voluptatem iste minus.</p>
    </section>
    <!-- Services Section-->
    <section class="main" id="services">
        <h1>Our Services</h1>
        <div class="services-menu">
            <div class="box first"><img src="../static/image/carwash1.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptas, dignissimos magni deleniti, aut non quibusdam asperiores aperiam vel dolores dolore pariatur rerum voluptatum. Cupiditate ipsa saepe nemo sequi. Suscipit?</p>
            </div>
            <div class="box second"><img src="../static/image/carwash2.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptas, dignissimos magni deleniti, aut non quibusdam asperiores aperiam vel dolores dolore pariatur rerum voluptatum. Cupiditate ipsa saepe nemo sequi. Suscipit?</p>
            </div>
            <div class="box third"><img src="../static/image/carwash3.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptas, dignissimos magni deleniti, aut non quibusdam asperiores aperiam vel dolores dolore pariatur rerum voluptatum. Cupiditate ipsa saepe nemo sequi. Suscipit?</p>
            </div>
        </div>
    </section>
    <!-- About us-->
    <section class="main" id="about-us">
        <h1 class="head">About Us</h1>
        <div class="about-container">
            <div id="our-image"><img src="../static/image/carwash4.jpeg" alt="MyOnlineCarWash"></div>
            <div id="content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia dignissimos quod ea quasi necessitatibus nobis numquam blanditiis enim quibusdam, omnis minima, dolorum, sapiente magnam? Doloremque consequatur eveniet error officiis iste
                    quasi aspernatur exercitationem amet! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos architecto quae debitis, iste minima non esse beatae ea rerum, totam, nam molestias dicta odit nesciunt incidunt quisquam atque optio
                    dolor? Accusamus quo esse enim vel. Velit, excepturi? Explicabo quae reiciendis, atque at rerum veniam laborum, praesentium assumenda deleniti adipisci numquam provident nisi esse sapiente iure. Odit adipisci voluptatem reprehenderit
                    iusto. Voluptates porro recusandae sed numquam, consequatur ex, cumque dolores iusto autem harum sequi id laudantium aliquid. Quisquam iste eum, doloremque similique, nulla provident ducimus accusantium officiis cum minima temporibus.
                    Doloremque maiores enim cupiditate excepturi nostrum fugit reprehenderit, quo autem eligendi!</p>
            </div>
        </div>
    </section>
    <!-- Book Appointment Online-->
    <section id="book-online">
        <div class="image"><img class="fixed-img" src="../static/image/carwash5.jpg" alt=""><img class="down-img" src="../static/image/carwash8.png" alt="">
            <p class="top-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus architecto, hic fugiat harum, quidem voluptas quibusdam saepe nesciunt, exercitationem voluptates sint eius illum nostrum. Ad dignissimos sapiente reprehenderit iusto laborum.</p>
        </div>
        <form action="">
            <h1>Book Online Appointment</h1>
            <input id="name" type="text" name="Your GoodName" placeholder="Enter Your Name"><br>
            <input id="number" type="number" name="Mobile Number" placeholder="Mobile Number"><br>
            <input id="address" type="text" name="Your Address" placeholder="Address"><br>
            <input id="date" type="date" name="date" placeholder="Date">
            <input id="time" type="time" name="time" placeholder="Time">
            <button type="submit">Submit Details</button>
            <button type="reset">Reset Details</button>
        </form>
    </section>
    <section id="contact-us">
        <div class="contact-logo"><img src="../static/image/GoWashMyCar (logo).png" alt=""></div>
        <div class="contact">
            <h3> <u>CON</u>TACT US</h2>
                <h5><img src="../static/image/icons/location2.png" alt=""> East Western Car Park, 22 Die Heart Avenue, Headland</h5>
                <h5><img src="../static/image/icons/phone1.png" alt=""> +91 98774-77XXX</h5>
                <h5><img src="../static/image/icons/mail.png" alt=""> info4carwash@gmail.com</h5>
        </div>
    </section>
    <footer> My Car Wash &copy; 2022 | Site By All In It Solutions</footer>
</body>