doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../static/thank.css
        title Thank You!
    body 
        .box 
            h2  Thank you for booking an appointment! Will revert back soon.
            a(href="rating.pug") How Was Your Experience?